body{
    background-color: black;
}
h1{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.login{
    border: 2px solid yellow;
    align-items: center;
    text-align: center;
    height: 250px;
    padding: 10px;
    width: 440px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
}
.inputs{
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 150px;
    margin-top: 50px;
    margin-left: 32%;
    display: flex;
    flex-direction: column;
}
.input2{
    margin-top: 30px;
}
.boton{
    margin-top: 40px;
    background-color: yellow;
    color: black;
    width: 100px;
    height: 25px;
}